{% extends 'predictor/layout.html' %}
{% block content %}

<div id = "loginContainer" style="width: 50%; position:absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto;">
    <div class="col m6">
            <h3 class="center-align">Select Your Game</h3>

            <br><br><br>

            <div class="row">

		<table class="centered highlight responsive">
		  <thead>
		    <tr>
		      <th data-field="home">Home</th>
		      <th data-field="away">Away</th>
		      <th data-field="date">Date</th>
		    </tr>
		  </thead>
		  
		  <tbody>
		    <tr href="#">
		      <td>BC Lions</td>
		      <td>Golden State Warriors</td>
		      <td> <span id="currentDay"></span></td>
		    </tr>
		  </tbody>
		</table>
            </div>
        </div>

        </div>

        <script>
        	document.getElementById("currentDay").innerHTML = Date();
        </script>
{% endblock %}
