{% extends "predictor/layout.html" %}
{% block content %}

<div id = "entireContainer">

	<div id = "upperContainer">
	
	<div class="row">
		<div class="col s3">
		  	<div class="card blue darken-3">
				<div class="card-content white-text">
				  <span class="card-title">Lineup</span>
				  <ol>
					<li>QB : Lulay </li>
					<li>RB : Lynch </li>
				  </ol>
				</div>
			</div>
		</div>
		<div class = "col s6">
			<div class = "card blue light-2">
				<div class="card-content white-text">
					<span class="card-title">Vote</span><br>
					<button class="waves-effect waves-light btn vote-button" id="punt" type="button" value="7" onclick="getVote(value)" name="vote">Punt</button><br><br>
					<button class="waves-effect waves-light btn vote-button" id="rush" type="button" value="4" onclick="getVote(value)" name="vote">Rush</button><br><br>
					<button class="waves-effect waves-light btn vote-button" id="pass" type="button" value="1" onclick="getVote(value)" name="vote">Pass</button><br><br>
					<button class="waves-effect waves-light btn vote-button" id="kickoff" type="button" value="5" onclick="getVote(value)" name="vote">KickOff</button>
				</div>
			</div>
		</div>
		
		<div class="col s3">
		  <div class="card blue darken-3">
			<div class="card-content white-text">
			  <span class="card-title">Lineup2</span>
			  <ol>
				<li>QB : Burris </li>
				<li>RB : Hello </li>
			  </ol>
			</div>
		  </div>
		</div>
	  </div>
	  <div class = row>
		  <div class="col s3">
			<div class="card-panel blue darken-4">
			  <span class="white-text">BC lions Data
			  </span>
			</div>
		  </div>
		  
		<div class = "col s6">
			<div class = "card-panel teal light-2">
				<ol id="playList">Past Plays</ol>
			</div>
		</div>
		
		<div class="col s3">
			<div class="card-panel blue darken-4">
			  <span class="white-text">BC lions Data
			  </span>
			</div>
		</div>
		  
	  </div>
    
		</div>
	
	

   <div class="col s12">
   	<div class = "card-panel blue">
   		Vote
   	</div>
   </div>
   </div>

   <script>
   		var count = 0;
   		var vote = -1;

   		var times = [];
   		var probs = [];
   		var states = [];
   		var results = [];

   		{% for time in times %}
   			times.push({{time}});
   		{% endfor %}

   		new_ind = [];
   		for(var i = 0; i < times.length; i++) {
   			new_ind.push(i);
   		}

   		new_ind.sort(function(a,b) { return times[a] > times[b]});

   		console.log(new_ind);

   		{% for prob in probs %}
   			probs.push({{prob}});
   		{% endfor %}

   		{% for state in states %}
   			states.push({{state}});
   		{% endfor %}

   		{% for result in res %}
   			results.push({{result}});
   		{% endfor %}

     	window.onload = function() {
     		while(count < new_ind.length){
     			setTimeout(voteUpdate, times[new_ind[count]]);
     		}
     		
     	}

     	function voteUpdate() {

     		var userVote = vote;
     		var node = document.createElement("LI");
     		var actualPlay = results[new_ind[count]]; 
     		var textnode = document.createTextNode(actualPlay);
     		node.appendChild(textnode);
     		if(userVote != -1) {
     			if(userVote == actualPlay){
     				//increment player points
     				alert("You were correct!");
     			} 
     		}
     		document.getElementById("playList").appendChild(node);
     		userVote = -1;
     		count++;
     		document.getElementById("punt").innerHtml += " " +probs[new_ind[count]][3];
     		document.getElementById("pass").innerHtml += " " +probs[new_ind[count]][0];
     		document.getElementById("rush").innerHtml += " " + probs[new_ind[count]][1];
     		document.getElementById("kickoff").innerHtml += " " + probs[new_ind[count]][2];
     	}

     	function getVote(value) {
     		vote = value;
      	}
   </script>
    <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
    </body>
  </html>

{% endblock %}
