{% extends "predictor/layout.html" %}

{% block content %}

<div class="container">

  <br><br>

  <div class="card-panel cyan lighten-5">
    <h3 style="text-align: center; font-size: 48px;"> <b>Leaderboard</b> </h3>
  </div>

  <div class="card-panel cyan lighten-5">
    <table class="highlight centered responsive-table">
      <thead>
        <tr>
          <th data-field="uname">Email</th>
          <th data-field="score">Score</th>
          <th data-field="numvotes">Number of Votes</th>
        </tr>
      </thead>

      <tbody>
        {% for user in users %}
        <tr>
          <td>{{ user.email }}</td>
          <td>{{ user.points }}</td>
          <td>{{ user.num_votes }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
             

  </div>

</div>


</div>

{% endblock %}
