body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image:  url("../images/background.png");
    background-position: center;
    min-height: 100vh;
    background-size: cover;
    
}

main {
	flex: 1 0 auto;
}
